<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head> <meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>SWIM MDM</title>
  </head>
<body>
<h3>SWIM MDM - Download page</h3>
<div style="font-size:18px">Select SWIM mobile apps to be installed</div>
<div><a href="http://smp1.ls.lagaude.ibm.com/WorkManager/swim.html">WorkManager</a></div>
<div><a href="http://smp1.ls.lagaude.ibm.com/AssetManager/assetmanager.html">AssetManager</a></div>
<div><a href="http://smp1.ls.lagaude.ibm.com/AssetManager/swimassetmanager.html">BrandedAssetManager</a></div>
<div><a href="http://smp1.ls.lagaude.ibm.com/FioriClient/fioriclient.html">FioriClient</a></div>
<div><a href="http://smp1.ls.lagaude.ibm.com/Copilot/copilot.html">CoPilot</a></div>
<div><a href="http://smp1.ls.lagaude.ibm.com/Artemis/artemis.html">Artemis</a></div>
<div><a href="http://smp1.ls.lagaude.ibm.com/IoTstarter/iotstarter.html">IoTstarter</a></div>
<div><a href="http://smp1.ls.lagaude.ibm.com/Artemis/selfandpeerguidance.html">SelfGuidance/PeerGuidance</a></div>
</br>
<div>
(This page url <a href="https://ibm.biz/BdqpbZ">https://ibm.biz/BdqpbZ</a>)
</div>
</body>
</html>
