<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head> <meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>SWIM Asset Manager 4.0 App</title>
  </head>
<body>
<h3>SWIM Asset Manager 4.0 App - Download</h3>
<div style="font-size:18px"><u>Basic requirements</u></div>
<div>Application supported on iPhone or iPad with iOS 9.0 version and above, Android with version 6.0 and above
</div>
<br/>
<div style="font-size:18px"><u>iOS</u></div>
<div style='height:30px'><a href="https://apps.apple.com/us/app/sap-asset-manager/id1314568950">Download iOS App here ;-)</a>
</div>
<div>- Install app
</div>
<div>- Scan the barcode (see Access to the SWIM Demo @ GISC Nice-Paris.doc) with the camera and open in SAP Asset Manager
</div>
<div>- Start AssetManager app and login
</div>
<br/>
<div style="font-size:18px"><u>Android</u></div>
<div style='height:30px'>
<a href="https://play.google.com/store/apps/details?id=com.sap.mobile.apps.assetmanager.release&hl=en">Download Android App here ;-)</a>
<br/>
<a href="https://play.google.com/store/apps/details?id=com.tohsoft.qrcode&hl=en">Download Scanner App here</a>
</div>
<br/>
<div>- Install apps
</div>
<div>- Scan the barcode (see Access to the SWIM Demo @ GISC Nice-Paris.doc) with the scanner and open in SAP Asset Manager
</div>
<div>- Start AssetManager app and login
</div>
<br/>
<div>
(This page url <a href="https://ibm.biz/Bdqx4a">https://ibm.biz/Bdqx4a</a>)
</div>
</body>
</html>
